.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px 10px;
    background-color: var(--color-section-bg);
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.big-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.legend-label {
    font-weight: 700;
    font-size: 1rem;
}